@import 'config';
@import 'reset';

.product-list {
    padding: 0 2% 50px;

    .product-item {
        width: 100%;
        margin: 10px 0;
        padding: 0 2%;
        height: 300px;
        border-radius: 30px;
        @include setBackground($default-gray);
        @include setDisplay(flex, wrap, center, center);

        .box-title {
            font-size: 2.3rem;
            padding: 0 2% 10px 2%;
            color: $bg-color;
            text-align: center;
        }

        .box-btn {
            width: 100%;
            @include setDisplay(flex, wrap, center, center);

            .minus-btn,
            .plus-btn {
                width: 65px;
                height: 65px;
                background-color: $default-orange;
                border-radius: 50%;
                cursor: pointer;
                @include setDisplay(flex, wrap, center, center);
                color: $bg-color;
                border: 0;

                svg {
                    font-size: 2rem;
                }
            }

            #quantifier {
                width: 60px;
                font-size: 2.3rem;
                text-align: center;
                margin: 5px;
                border: 0;
                outline: 0;
                background-color: $default-gray;
                color: $bg-color;
            }
        }

        #checkbox {
            .box-checkbox {
                width: 80px;
                height: 80px;
                margin: 10px;
                padding: 10px;
                border-radius: 50%;
                @include setDisplay(flex, wrap, center, center);
                background-color: $bg-color;
                cursor: pointer;
                transition: 0.4s ease;
                color: $default-gray;
                transition: 0.4s ease;
                border: 0;

                svg {
                    font-size: 2.3rem;
                }
            }
        }
    }

    .takedItem {
        background-color: $default-green;
        flex-direction: column;

        .box-title {
            padding: 30px 0;
        }

        .box-btn {
            display: none;
        }

        #checkbox {
            .box-checkbox {
                color: $default-green;
            }
        }
    }

    .product-to-take-single {
        width: 100%;
        margin: 10px 0;
        height: 300px;
        border-radius: 30px;
        padding: 0 5px;
        text-align: center;
        @include setBackground($default-gray);
        @include setDisplay(flex, wrap, center, center);

        .product-to-take-text {
            color: $bg-color;
            @include setDisplay(flex, wrap, center, center);
            flex-direction: column;

            p {
                font-size: 2.5rem;
            }

            span {
                @include setDisplay(flex, wrap, center, space-around);
                padding: 10px 20px;
                margin: 10px 0;
                background-color: $default-red;
                border-radius: 20px;
                font-size: 2.5rem;
            }

            #checkbox {
                .box-checkbox {
                    width: 80px;
                    height: 80px;
                    padding: 10px;
                    margin: 10px;
                    border-radius: 50%;
                    @include setDisplay(flex, wrap, center, center);
                    background-color: $bg-color;
                    cursor: pointer;
                    transition: 0.4s ease;
                    color: $default-gray;
                    transition: 0.4s ease;

                    svg {
                        font-size: 2.3rem;
                    }
                }
            }
        }
    }

    .takedItem {
        background-color: $default-green;

        .product-to-take-text {
            flex-direction: column;

            p {
                padding: 30px 0;
            }

            span {
                display: none;
            }
        }

        #checkbox {
            .box-checkbox {
                svg {
                    color: $default-green;
                }
            }
        }
    }
}
