@import 'config';
@import 'reset';
@import 'mobile';

.main-header {
    padding: 15px 2%;

    .header-title {
        text-align: center;
        padding-bottom: 20px;

        h3 {
            font-size: 2rem;
        }
    }

    #header-time {
        font-size: 1.3rem;
        @include setDisplay(flex, wrap, space-around, center);

        .dayAndDate {
            padding: 10px;
            text-align: center;

            .day {
                margin-bottom: 10px;
            }

            .date {
                @include setDisplay(flex, wrap, center, center);
                svg {
                    font-size: 1.5rem;
                    margin-right: 5px;
                }
            }
        }

        .hours {
            @include setDisplay(flex, wrap, space-around, center);
            padding: 10px;

            svg {
                font-size: 1.5rem;
                margin-right: 5px;
            }
        }
    }
}

.action-buttons {
    padding-bottom: 15px;

    .container {
        @include setDisplay(flex, wrap, center, center);

        .save-changes,
        .delete-changes {
            @include setDisplay(flex, wrap, center, center);
            border-radius: 10px;
            font-size: 1.4rem;
            margin: 5px 15px;
            border: 0;
            outline: 0;
            color: $bg-color;
            cursor: pointer;

            svg {
                margin-right: 5px;
            }
        }

        .save-changes {
            padding: 15px 20px;
            background-color: $default-green;
        }

        .delete-changes {
            padding: 8px 16px;
            background-color: $default-red;
        }

        .alert {
            padding-top: 5px;
            font-size: 1.1rem;
            font-weight: bold;
            color: $default-red;
        }
    }
}

.list-boxes {
    padding: 0 2% 50px;

    .container {
        width: 100%;
        @include setDisplay(flex, wrap, center, center);

        .list-box-single {
            width: 100%;
            margin: 10px 0;
            padding: 0 2%;
            height: 300px;
            border-radius: 30px;
            @include setBackground($default-gray);
            @include setDisplay(flex, wrap, center, center);

            .box-title {
                font-size: 2.3rem;
                padding: 0 2% 10px 2%;
                color: $bg-color;
                text-align: center;
            }

            .box-btn {
                width: 100%;
                @include setDisplay(flex, wrap, center, center);

                .minus-btn,
                .plus-btn {
                    width: 65px;
                    height: 65px;
                    background-color: $default-orange;
                    border-radius: 50%;
                    cursor: pointer;
                    @include setDisplay(flex, wrap, center, center);
                    color: $bg-color;

                    svg {
                        font-size: 2rem;
                    }
                }

                #quantifier {
                    width: 60px;
                    font-size: 2.3rem;
                    text-align: center;
                    margin: 5px;
                    border: 0;
                    outline: 0;
                    background-color: $default-gray;
                    color: $bg-color;
                }
            }

            #checkbox {
                .box-checkbox {
                    width: 80px;
                    height: 80px;
                    margin: 10px;
                    padding: 10px;
                    border-radius: 50%;
                    @include setDisplay(flex, wrap, center, center);
                    background-color: $bg-color;
                    cursor: pointer;
                    transition: 0.4s ease;
                    color: $default-gray;
                    transition: 0.4s ease;

                    svg {
                        font-size: 2.3rem;
                    }
                }
            }
        }

        .takedItem {
            background-color: $default-green;

            .box-btn {
                display: none;
            }

            #checkbox {
                .box-checkbox {
                    color: $default-green;
                }
            }
        }

        .list-quantifier-single {
            width: 100%;
            margin: 10px 0;
            height: 300px;
            border-radius: 30px;
            padding: 0 5px;
            text-align: center;
            @include setBackground($default-gray);
            @include setDisplay(flex, wrap, center, center);

            .list-quantifier-text {
                color: $bg-color;
                @include setDisplay(flex, wrap, center, center);
                flex-direction: column;

                p {
                    font-size: 2.5rem;
                    padding-bottom: 10px;
                }

                span {
                    @include setDisplay(flex, wrap, center, space-around);
                    padding: 10px 20px;
                    @include setBackground($default-orange);
                    border-radius: 20px;
                    font-size: 2.5rem;
                }
            }
        }
    }
}
